*{
    padding: 0;
    margin: 0;
} 

 body, html 
 {
  height: 100%;
  margin: 0; 
  font-family: "Lato", sans-serif; 
  color: #777;
 }
         
/* Turn off parallax scrolling for tablets and phones */
 @media only screen and (max-device-width: 1024px) {
.background-images-1, .background-images-2, .background-images-3 {
 background-attachment: scroll;
      }
  }

.firebolt{
   background-image: url("../images/F1-2.jpg");
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
   font-family: nfs;
   font-size: 4.5vw;
   color: white;
   display: block;
   text-align: center;
}

@font-face{
  font-family: nfs;
  src: url("../fonts/NFS_by_JLTV.ttf");
}

@font-face{
    font-family:'marshall';
    src:url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.eot?vpbzp");
    src:url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.eot?vpbzp#iefix") format("embedded-opentype"),url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.woff?vpbzp") format("woff"),url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.ttf?vpbzp") format("truetype"),url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/css/font/marshall/marshall.svg?vpbzp#marshall") format("svg");
    font-weight:normal;
    font-style:normal
}
.background-images-1, .background-images-2, .background-images-3 {
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
}



.border1{
   font-family: Raleway;
   font-size: 4vw;
   color: white;
}

#border{
   font-family: Raleway;
   font-size: 4vw;
   color: white;
}

.fire-image{
   padding: 3% 9%;
}

.firebolt-image{
}

.dealing{
   background-color: rgb(1, 1, 1);
   height: 25vw;
   float: center;
   font-size: 1.7vw;
   padding: 1% 0;
   padding-bottom: 3%;
   text-align: center;
}

#design-hours{
   color: white;
   font-family: 'Oswald', sans-serif;
   width: 13%;
   float: left;
   padding-left: 25%;
   padding-right: 10%;
   text-align: center;
   display: inline;
}

#manufacturing-hours{
   color: white;
   font-family: 'Oswald', sans-serif;
   width: 13%;
   padding-left: 10%;
   float: left;
   text-align: center;
   display: inline;
}

.background-images-1 {
   background-image: url("../images/F1-2.jpg");
   min-height: 46.6vw;
}
.background-images-2 {
   background-image: url("../images/F1-4.jpg");
   min-height: 60vw;
}
.background-images-3 {
   background-image: url("../images/F1-3.jpg"); 
   min-height: 60vw;
}
.background-images-4 {
   background-image: url("../images/F1-1.jpg");
   min-height: 100vw;
}

.caption {
   position: absolute;
   left: 0;
   top: 50%;
   width: 100%;
   text-align: center;
   color: #000;
}
.caption span.border {
   background-color: #111;
   color: #fff;
   padding: 18px;
   font-size: 25px;
   letter-spacing: 10px;
}


/*sponsors*/
.sponsors{
   height: 64vw;
   float: center;
   padding: 0 0;
   padding-bottom: 3%;
   text-align: center;
   background: linear-gradient(#000000,#232526,#000000);
}


.sponsor_image{
  float: left;
  width: 14.3vw;
  margin : 4vw 4.3vw;
  border-style: groove;
  border-color: black;
  background: white;
}

div.sponsor_image img {
  width: 14.3vw;
  height: auto;
}

.heading_sponsor{/*
  margin-top: 8%;
  margin-bottom:  2%; */
  padding-top: 5vw;
  text-align: center;
  color: white;
  font-size: 2.5vw;
}


/*Contact us*/
.contact_us_headings{
  background-color:transparent;
  color: #f7f7f7;
}


.caption-div{
   background-color: rgb(1, 1, 1);
   height: 53vw;
   float: center;
   font-size: 1.7vw;
   padding: 1% 0;
   padding-bottom: 3%;
   text-align: center;
}

.caption2 {
   position: absolute;
   left: 0;
   top: 136vw;
   width: 100%;
   text-align: center;
   color: #000;
   font-family: Raleway;
}
.caption2 span.contact_us_headings {
   background-color: #111;
   color: #fff;
   padding: 1%;
   font-size: 1.8vw;
   letter-spacing: 10px;
}
.contact_us_links{
  padding: 2.5vw;
  padding-bottom: 5vw;
  font-size: 1.8vw;
  color: #f7f7f7;
}

.about {
   position: absolute;
   top: 52vw;
   left: 0;
   width: 100%;
   text-align: center;
   color: #FFF;
   font-family: Raleway;
}

.about_headings {
   background-color: #111;
   color: #fff;
   padding: 1vw;
   font-size: 1.8vw;
   letter-spacing: 10px;
}

.dealing_about_firebolt{
  padding: 3vw;
  font-size: 1.8vw;
  color: #f7f7f7;
}

/*navigation bar*/
/* Add a black background color to the top navigation */
.topnav{
  z-index: 10000;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
   font-family: Raleway;
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 1.5vw 9.8977vw;
   text-decoration: none;
   font-size: 1.2vw;
}

/* Change the color of links on hover */
.topnav a:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0,.55);
    color: white;
}

/* Add an active class to highlight the current page */
.active {
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: center;
  }
}

.sticky {z
  position: fixed;
  top: 0;
  width: 100%;
}

.footer{
  background-color: rgba(9, 22, 43, 1);
  height: 22vw;
}

.firebolt2{
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
   font-family: nfs;
   font-size: 3vw;
   color: white;
   display: block;
   text-align: left;
   padding-top: 7.5vw;
   padding-left: 3vw;
}

.firebolt3{
   position: relative;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: inset 0 0 0 1000px rgba(9, 22, 43,.5);
   background-size: cover;
   font-family: nfs;
   font-size: 3vw;
   color: white;
   display: block;
   text-align: left;
   padding-top: 0;
   padding-left: 4vw;
}

.footer-bottom{/*
  border: 1px black solid;*/
  background-image:url("https://www.marshallheadphones.com/skin/frontend/vanillagento/marshall/images/backgrounds/footer-background-mobile2x.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  color:#fff;
  padding:0 0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.footer-bottom__inner{/*
  border: 1px black solid;*/
  font-size:0;
  margin:0 auto;
  max-width:110vw;
  width:80vw;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.group:before,.product-options:before,.opc:before,.group:after,.product-options:after,.opc:after,.row:before,.container:before,.buttons-set:before,.form:before,form:before,.form-list:before,.options-list:before,.list:before,.list-totals__item:before,.list--key-value .list__item:before,.nav-bar>li>.dropdown-wrapper ul:before,.subnavigation__list:before,.catalog-layer:before,.rating_container:before,.category:before,.category__header:before,.toolbar:before,.product__header:before,.product .price-ratings-box:before,.puff.header .price-ratings-box:before,.product .product-additional:before,.puff.header .product-additional:before,.mixed-content:before,.mixed-content-phone:before,.rating:before,#checkout-review-table-wrapper:before,.blog-wrapper__inner:before,.countryselect-start .countryselect__list:before,.countryselect-morecountries .countryselect__list:before,.countryselect__regions .countryselect__region-countries>ul:before,.products__list:before,.list-grid:before,.product-box__content:before,#countdown-section .countdown-grid:before,.state-container__header:before,.row:after,.container:after,.buttons-set:after,.form:after,form:after,.form-list:after,.options-list:after,.list:after,.list-totals__item:after,.list--key-value .list__item:after,.nav-bar>li>.dropdown-wrapper ul:after,.subnavigation__list:after,.catalog-layer:after,.rating_container:after,.category:after,.category__header:after,.toolbar:after,.product__header:after,.product .price-ratings-box:after,.puff.header .price-ratings-box:after,.product .product-additional:after,.puff.header .product-additional:after,.mixed-content:after,.mixed-content-phone:after,.rating:after,#checkout-review-table-wrapper:after,.blog-wrapper__inner:after,.countryselect-start .countryselect__list:after,.countryselect-morecountries .countryselect__list:after,.countryselect__regions .countryselect__region-countries>ul:after,.products__list:after,.list-grid:after,.product-box__content:after,#countdown-section .countdown-grid:after,.state-container__header:after,.clearfix:before,.links:before,.clearfix:after,.links:after{
  content:" ";
  display:table
}
.group:after,.product-options:after,.opc:after,.row:after,.container:after,.buttons-set:after,.form:after,form:after,.form-list:after,.options-list:after,.list:after,.list-totals__item:after,.list--key-value .list__item:after,.nav-bar>li>.dropdown-wrapper ul:after,.subnavigation__list:after,.catalog-layer:after,.rating_container:after,.category:after,.category__header:after,.toolbar:after,.product__header:after,.product .price-ratings-box:after,.puff.header .price-ratings-box:after,.product .product-additional:after,.puff.header .product-additional:after,.mixed-content:after,.mixed-content-phone:after,.rating:after,#checkout-review-table-wrapper:after,.blog-wrapper__inner:after,.countryselect-start .countryselect__list:after,.countryselect-morecountries .countryselect__list:after,.countryselect__regions .countryselect__region-countries>ul:after,.products__list:after,.list-grid:after,.product-box__content:after,#countdown-section .countdown-grid:after,.state-container__header:after,.clearfix:after,.links:after{
  clear:both
}
.group,.product-options,.opc,.row,.container,.buttons-set,.form,form,.form-list,.options-list,.list,.list-totals__item,.list--key-value .list__item,.nav-bar>li>.dropdown-wrapper ul,.subnavigation__list,.catalog-layer,.rating_container,.category,.category__header,.toolbar,.product__header,.product .price-ratings-box,.puff.header .price-ratings-box,.product .product-additional,.puff.header .product-additional,.mixed-content,.mixed-content-phone,.rating,#checkout-review-table-wrapper,.blog-wrapper__inner,.countryselect-start .countryselect__list,.countryselect-morecountries .countryselect__list,.countryselect__regions .countryselect__region-countries>ul,.products__list,.list-grid,.product-box__content,#countdown-section .countdown-grid,.state-container__header,.clearfix,.links{
  *zoom:1
}
.footer-inline{/*
  border: 1px black solid;*/
  display:inline-block;
  font-size:10px;
  padding:0;
  vertical-align:middle
}
.footer-block--third{
  width:26.71vw;
}

.footer-block--left{
  margin-left:-10px;
  text-align:left
}

.footer-block--center{
  text-align:center
}

.footer__copyright{
  font-family: Raleway;
  font-weight:800;
  margin: 2vw 0;
  text-transform:uppercase;
  font-size: 1.5vw;
  line-height:1.29;
}
.footer__copyright_firebolt{
  padding-top: 0.5vw;
  padding-left: 0vw;
  font-family: nfs;
  font-weight:800;
  margin: 2vw 0;
  text-transform:uppercase;
  font-size:2.5vw;
  line-height:0;
}
.footer__copyright_racing{
  padding-left: 1.5vw;
  font-family: nfs;
  font-weight:800;
  margin: 2vw 0;
  text-transform:uppercase;
  font-size:2.5vw;
  line-height:0;
}
.footer__logo{
  width: 90px
}
#footer_firebolt_parent{/*x
  padding: 0vw;*/ /*
  border: 1px black solid;*/
  /*
  background-color: black;*/
}
#footer_firebolt{
  margin-left: 8vw;
  padding-left: 0.5vw;
  z-index: 1000;
  width: 0.5vw;/*
  border: 1px black solid;*//*
  background-color: black;*/
}